//SASS PAGE
$blac-color:#212121;
$back-opacity: rgb(33, 33, 33,.9);
$back-opacity: rgb(0, 0, 0,.8);
$white-kolor: #fff;
$white-opacity:#f9f9f9;
$blue-grey : rgb(239 242 250/1);
$blue:#003464;
// $base-color: #c6538c;
$blac-color:#221e1e;
$red: #ff0006;
$blue:#006cd1;
$yellow:#ff9922;
$back-opacity: rgb(0, 0, 0,.9);
$blue1:#003464;
$primary-color: #006cd1;
$text-color: #333;
$dark-color: #000;


.app-bar{
    background-color: none;
    padding: 20px;
    ul{
        display: block;
        padding: 10px;
        list-style: none;
        li{
            margin: 10px;
           
            .link{
                color: #003464;
                font-size: 20px;
                text-decoration: none;
            }
            &:hover{
                text-decoration: underline;
            }
        }
    }
}


 

@media screen and (max-width:600px) {

}