//SASS PAGE
$blac-color:#212121;
$back-opacity: rgb(33, 33, 33,.9);
$back-opacity: rgb(0, 0, 0,.8);
$white-kolor: #fff;
$white-opacity:#f9f9f9;
$blue-grey : rgb(239 242 250/1);
$blue:#003464;
// $base-color: #c6538c;
$blac-color:#221e1e;
$red: #ff0006;
$blue:#006cd1;
$yellow:#ff9922;
$back-opacity: rgb(0, 0, 0,.9);
$white: #fff;
$white-opacity:#f9f9f9;
$white-black:#f7f7f7;
$text-color: #333;
$dark-color: #000;

.xart{
    width: 80%;
    height: auto;
    margin: auto;
    .ph{
        width: 100%;
        height: 440px;
        margin-bottom: 10px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .p{
       
        span{
            color: grey;
            padding: 4px;
            text-transform: uppercase;
        }
    }
}


@media screen and (max-width:600px) {
    .xart{
        width: 90%;
        height: auto;
        margin: auto;
        // background-color: red;
        .ph{
            width: 100%;
            height: 400px;
            margin-bottom: 10px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .p{
            span{
                color: grey;
                padding: 4px;
                text-transform: uppercase;
            }
        }
    }
}